/* DEFAULT */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* BACKGROUND */

img.bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* HEADER */

.header {
  overflow: hidden;
  padding: 20px 10px;
  width: 100vw;
}

.header a.button {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 32px;
  line-height: 25px;
  border-radius: 4px;
  font-family: Calibri, sans-serif;
  margin-right: 30px;
  margin-top: 5px;
  transition: color 0.2s;
}

.header img.logo {
  width: 75px;
  height: 75px;
  margin-left: 2.5%;
}

.header a.menu:hover {
  color: rgb(154, 229, 254);
  transition: color 0.2s;
}

.header a.active {
  background-color: rgb(154, 229, 254);
  color: white;
  transition: background-color 0.2s;
}

.header a.active:hover {
  background-color: rgb(55, 181, 253);
  transition: background-color 0.2s;
  
}

.header-right {
  float: right;
}


/* TEXT */
p.title {
  margin-left: 200px;
  color: white;
  font-family: Calibri, sans-serif;
  font-size: 70px;
  white-space: nowrap;
}

/* GET STARTED */
button.start {
  text-decoration: none;
  background-color: white;
  color: rgb(154, 229, 254);
  border-radius: 4px;
  padding: 10px 10px;
  font-family: Calibri, sans-serif;
  font-size: 32px;
  margin-left: 200px;
  display: inline-block;
  margin-top: 275px;
  transition: 0.2s;
  border: none;
  outline: none;
}

button.start:hover {
  color: white;
  background-color: rgb(55, 181, 253);
  transition: 0.2s;
}

/* MODAL */

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 500px) {
  /* Center the Modal! */
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
}

._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-body {
  padding-top: 0.25em;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
